{include file='public/_meta'}
<title>添加角色</title>
</head>
<body>
<article class="page-container">
    <form action="doAddRole" method="post" class="form form-horizontal" id="form-admin-role-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="roleName" name="roleName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="remark">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">网站角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {volist name="pack" id="vo"}

                <dl class="permission-list">
                    <dt>
                        <label>
                            <input type="checkbox" value="" name="user-Character-0" id="user-Character-0">
                            {$vo.controlname}</label>
                    </dt>
                    <dd>
                        <dl class="cl permission-list2">
                            {volist name="vo.methods" id="method"}
                            <dt>
                                <label class="">
                                    <input type="checkbox" value="{$method.id}" name="methodid[]" id="user-Character-0-0-{$method.id}">
                                    {$method.nodename}</label>
                            </dt>
                            {/volist}
                        </dl>

                    </dd>
                </dl>
                {/volist}

            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button  type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>
<!--_footer 作为公共模版分离出去-->
{include file='public/_footer'}
<!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/resources/lib/vue.js"></script>
<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript">

    $(function(){
        $(".permission-list dt input:checkbox").click(function(){
            $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
        });
        $(".permission-list2 dd input:checkbox").click(function(){
            var l =$(this).parent().parent().find("input:checked").length;
            var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
            if($(this).prop("checked")){
                $(this).closest("dl").find("dt input:checkbox").prop("checked",true);
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
            }
            else{
                if(l==0){
                    $(this).closest("dl").find("dt input:checkbox").prop("checked",false);
                }
                if(l2==0){
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
                }
            }
        });

        $("#form-admin-role-add").validate({
            rules:{
                roleName:{
                    required:true,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){

                $(form).ajaxSubmit(function (data) {
                    if(data.code){
                        layer.msg("success");
                    }else{
                        layer.msg(data.msg,{
                            icon: 2,
                            time: 3000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            return;
                        });
                        return;

                    }

                });

            }
        });
    });

</script>
</body>
</html>