{include file='public/_meta'}
<title>角色管理</title>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont"></i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont"></i> 批量删除</a> <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加角色','addRole','800')"><i class="Hui-iconfont"></i> 添加角色</a> </span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
            <div class="mt-10">
                <table class="table table-border table-bordered table-hover table-bg">
                    <thead>
                    <tr>
                        <th scope="col" colspan="6">角色管理</th>
                    </tr>
                    <tr class="text-c">
                        <th width="25"><input value="" name="" type="checkbox"></th>
                        <th width="40">ID</th>
                        <th width="200">角色名</th>
                        <th>用户列表</th>
                        <th width="300">描述</th>
                        <th width="70">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="vo"}
                    <tr class="text-c">
                        <td><input value="{$vo.id}" name="roleid[]" type="checkbox"></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td><a href="#">admin</a></td>
                        <td>{$vo.remark}</td>
                        <td class="f-14"><a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑','editRole','{$vo.id}')" style="text-decoration:none"><i class="Hui-iconfont"></i></a>
                            <a title="删除" href="javascript:;" onclick="admin_role_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont"></i></a></td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </article>
    </div>
<!--_footer 作为公共模版分离出去-->
{include file='public/_footer'}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript">

    /*管理员-角色-添加*/
    function admin_role_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-角色-编辑*/
    function admin_role_edit(title,url,id,w,h){
        url += "?roleid="+id;
        layer_show(title,url,w,h);
    }
    /*管理员-角色-删除*/
    function admin_role_del(obj,id){
        layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url: "delRole",
                type: "POST",
                dataType: "json",
                data: {roleid:id},
                success: function (info) {
                    if(info.code){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else{
                        layer.msg(info.msg,{
                            icon: 2,
                            time: 3000 //2秒关闭（如果不配置，默认是3秒）
                        });
                        return;
                    }
                }});
        });
    }
</script>
</body>
</html>