<script type="text/javascript" src="__PUBLIC__/resources/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/resources/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/resources/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/resources/static/h-ui.admin/js/H-ui.admin.js"></script>

<script type="text/javascript" src="__PUBLIC__/resources/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/resources/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/resources/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/resources/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/resources/lib/jquery.validation/1.14.0/validate-methods.js"></script>

<script type="text/javascript" src="__PUBLIC__/resources/lib/jquery.validation/1.14.0/messages_zh.js"></script>
