<dl id="menu-system">
    <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
    <dd>
        <ul>
            <li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
            <li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
            <li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
            <li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
            <li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
        </ul>
    </dd>
</dl>