<dl id="menu-admin">
    <dt><i class="Hui-iconfont">&#xe62e;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
    <dd>
        <ul>
            <li><a data-href="{:Url('Admin/role')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
            <li><a data-href="{:Url('Admin/auth')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
            <li><a data-href="{:Url('Admin/sysuser')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>

        </ul>
    </dd>
</dl>